<div id="form_errors">
  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<%= form_with(model: @document, local: true, html: { class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md max-w-lg mx-auto mt-10" }) do |form| %>
  <div class="mb-4">
    <%= form.label :files, t('views.documents.form.upload_label'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.file_field :files, multiple: true, direct_upload: true, accept: 'application/xml,.xml,.zip', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.submit t('views.documents.form.submit_button'), class: "bg-[#073b4c] hover:bg-[#004385] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" %>
  </div>
<% end %>
